In [1]:
# Importing libraries

import numpy as np
import pandas as pd
import os

In [2]:
# Creating a test dataframe

df_test = pd.DataFrame()

In [3]:
# Create mixed type column

df_test['mix'] = ['a','b',1,True]

In [4]:
# Check for mix values

for col in df_test.columns.tolist():
  weird = (df_test[[col]].map(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

In [5]:
df_test['mix'] = df_test['mix'].astype('str')

In [6]:
# Importing Product data
path = r'C:\Users\casbacar\Documents\Study\Data Immersion\Achievement 4\03_2025_Instacart basked analysis\03 Scripts'
df_prods = pd.read_csv(os.path.join(path, 'Original Data', 'products.csv'), index_col = False)

In [7]:
# Counting the number of null values in a data set
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [8]:
# Create dataframe subset with only missing values

df_nan = df_prods[df_prods['product_name'].isnull()==True]

In [9]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [10]:
df_prods.shape

(49693, 5)

In [11]:
# Creating a new dataframe without the missing values

df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [12]:
df_prods_clean.shape

(49677, 5)

In [13]:
# Create a subset of duplicates

df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [14]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [15]:
df_prods_clean.shape

(49677, 5)

In [16]:
# Create a new version of the df without the dups:

df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [17]:
df_prods_clean_no_dups.shape

(49672, 5)

# TASK 4.5

In [18]:
# Importing orders file

In [19]:
df_ords = pd.read_csv(os.path.join(path, 'Original Data', 'orders.csv'), index_col = False)

In [20]:
df_ords.describe()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

### Observations

The max for days_since_prior_order is 3. However, in previous exercises in which we manipulated the data we saw a higher number.
The min for order_hour_of_day is 0 which would mean that at least one customer ordered at midnight.

In [21]:
# Checking mixed data types - Step 3

for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].map(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

Observation: After running the query above, no columns were printed, therefore, no mixed data has been found.

In [22]:
# Checking missing values - 5tep 5

df_ords.isnull().sum()

order_id                       0
user_id                        0
eval_set                       0
order_number                   0
order_dow                      0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

Observations: 
- Above we see that only column, days_since_prior_order, has missing values.
- There does not seem to be a clear pattern for the missing values.

In [23]:
# Addressing missing values - Creating subset without missing values

df_ords_clean = df_ords[df_ords['days_since_prior_order'].isnull() == False]

In [24]:
df_ords_clean.isnull().sum()

order_id                  0
user_id                   0
eval_set                  0
order_number              0
order_dow                 0
order_hour_of_day         0
days_since_prior_order    0
dtype: int64

In [25]:
# Checking for duplicates - Step 7

df_ords_dups = df_ords[df_ords.duplicated()]

Observation: No duplicates were returned

In [26]:
path_2 = r'C:\\Users\\casbacar\\Documents\\Study\\Data Immersion\\Achievement 4\\03_2025_Instacart basked analysis\\03 Scripts\\Prepared Data'

In [27]:
df_ords_clean.to_csv(os.path.join(path_2, 'orders_consistency_checked.csv'))

In [28]:
df_prods_clean_no_dups.to_csv(os.path.join(path_2, 'product_consistency_checked.csv'))