# Importing libraries

In [7]:
import pandas as pd
import numpy as np
import os

In [8]:
df_prods_ords_comb = pd.read_pickle(r'C:\Users\casbacar\Documents\Study\Data Immersion\Achievement 4\03_2025_Instacart basked analysis\03 Scripts\Prepared Data\orders_products_combined.pkl')

## Checking columns of each dataframe before merging

In [9]:
df_prods_ords_comb.shape

(32434489, 11)

In [10]:
df_prods_checked = pd.read_csv(r'C:\Users\casbacar\Documents\Study\Data Immersion\Achievement 4\03_2025_Instacart basked analysis\03 Scripts\Prepared Data\product_consistency_checked.csv')

In [11]:
df_prods_checked.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [12]:
# Dropping the 'Unnamed' column one of the columns in "df_prods_" as it's irrelevant

df_prods_check_2 = df_prods_checked.drop(columns=['Unnamed: 0'])

In [13]:
df_prods_checked.shape

(49672, 6)

In [36]:
#Dropping _merge column as its generating an error when merging

df_prods_ords_comb_2 = df_prods_ords_comb.drop(columns=['_merge'])

In [37]:
# Merging dataframes 

df_merged_final = df_prods_check_2.merge(df_prods_ords_comb_2, on = ['product_id'],indicator = True)

In [40]:
df_merged_final.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,13,NaN,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,17,9.0,11,1,both

In [41]:
# Verifying the final number of rows 
df_merged_final.shape

(32404859, 15)

In [42]:
# Checking merge flag

df_merged_final['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [44]:
# Exporting to pkl file

df_merged_final.to_pickle('C:\\Users\\casbacar\\Documents\\Study\\Data Immersion\\Achievement 4\\03_2025_Instacart basked analysis\\03 Scripts\\Prepared Data\\ ords_prods_merge.pkl')