In [2]:
import pandas as pd
import numpy as np
import os

In [106]:
#Importing the file

df_1 = pd.read_pickle(r'C:\Users\casbacar\Documents\Study\Data Immersion\Achievement 4\03_2025_Instacart basked analysis\03 Scripts\Prepared data\ ords_prods_merge.pkl')

# Exercise 4.7

In [107]:
# I modify the loop used previously to include second busiest and slowest day

result = []

for value in df_1["order_dow"]:
  if value in [0,1]:
    result.append("Busiest days")
  elif value in [3,4]:
    result.append("Least busy days")
  else:
    result.append("Regularly busy")

In [108]:
# Create a new column with all the new values
df_1['Busiest days'] = result

In [109]:
#Checking values of the Busiest days column have been updated

df_1.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,Busiest days
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,11,3.0,5,0,both,Regularly busy
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,17,20.0,1,1,both,Regularly busy
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,21,6.0,20,0,both,Busiest days
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,13,NaN,10,0,both,Least busy days
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,17,9.0,11,1,both,Least busy days

In [110]:
# Step 4 - Checking the hours with the most orders

df_1['order_hour_of_day'].value_counts(dropna = False)

order_hour_of_day
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

In [111]:
# Checking the average hour with the average horders

df_1['order_hour_of_day'].mean()

13.42514895682774

In [112]:
# Create loop for orders frequency per hours

result_hour_of_day = []

for value in df_1["order_hour_of_day"]:
  if value > 13:
    result_hour_of_day.append("Most orders")
  elif value == 13:
    result_hour_of_day.append("Average orders")
  else:
    result_hour_of_day.append("Fewer orders")

In [114]:
# We add the new column to our dataframe

df_1['Busiest hours'] = result_hour_of_day

In [115]:
# Now we confirm the new columnt has been created successfully

df_1

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,Busiest days,Busiest hours
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,11,3.0,5,0,both,Regularly busy,Fewer orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,17,20.0,1,1,both,Regularly busy,Most orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,21,6.0,20,0,both,Busiest days,Most orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,13,NaN,10,0,both,Least busy days,Average orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,17,9.0,11,1,both,Least busy days,Most orders
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,49688,Fresh Foaming Cleanser,73,11,13.5,1788356,200215,prior,2,0,9,5.0,27,0,both,Busiest days,Fewer orders
32404855,49688,Fresh Foaming Cleanser,73,11,13.5,3401313,200377,prior,1,4,11,NaN,5,0,both,Least busy days,Fewer orders
32404856,49688,Fresh Foaming Cleanser,73,11,13.5,809510,200873,prior,5,3,8,15.0,12,0,both,Least busy days,Fewer orders
32404857,49688,Fresh Foaming Cleanser,73,11,13.5,2359893,200873,prior,9,3,15,5.0,11,1,both,Least busy days,Most orders
32404858,49688,Fresh Foaming Cleanser,73,11,13.5,2385091,205926,prior,11,1,15,6.0,35,0,both,Busiest days,Most orders

In [116]:
# Step 6 - We print the frequency of this column

df['Busiest hours'].value_counts(dropna = False)

Busiest hours
Most orders       15677277
Fewer orders      14066628
Average orders     2660954
Name: count, dtype: int64

In [118]:
# Exporting to pkl file

df_1.to_pickle('C:\\Users\\casbacar\\Documents\\Study\\Data Immersion\\Achievement 4\\03_2025_Instacart basked analysis\\03 Scripts\\Prepared Data\\ ords_hour_day_busy_4.7.pkl')