In [1]:
# Importing libraries

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# Importing customers data file

cust = pd.read_pickle(r'C:\Users\casbacar\Documents\Study\Data Immersion\Achievement 4\03_2025_Instacart basked analysis\03 Scripts\Prepared data\Customers_prods_final.pkl')

In [3]:
cust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32404859 entries, 0 to 32404858
Data columns (total 30 columns):
 #   Column                  Dtype
---  ------                  -----
 0   user_id                 int64
 1   First Name              object
 2   Surname                 object
 3   Gender                  object
 4   State                   object
 5   Age                     int64
 6   date_joined             object
 7   n_dependants            int64
 8   fam_status              object
 9   income                  int64
 10  product_id              int64
 11  product_name            object
 12  aisle_id                int64
 13  department_id           int64
 14  prices                  float64
 15  order_id                int64
 16  eval_set                object
 17  order_number            int64
 18  order_dow               int64
 19  order_hour_of_day       int64
 20  days_since_prior_order  float64
 21  add_to_cart_order       int64
 22  reordered               int64
 23  _merge                  category
 24  Busiest days            object
 25  Busiest hours           object
 26  max_order               int64
 27  loyalty_flag            object
 28  spending_flag           object
 29  frequency_flag          object
dtypes: category(1), float64(2), int64(14), object(13)
memory usage: 7.0+ GB

In [25]:
cust['prices'].describe()

count    3.240486e+07
mean     1.198023e+01
std      4.956554e+02
min      1.000000e+00
25%      4.200000e+00
50%      7.400000e+00
75%      1.130000e+01
max      9.999900e+04
Name: prices, dtype: float64

In [27]:
cust.loc[(cust['prices'] <= 1), 'price range'] = '1-2'
cust.loc[(cust['prices'] > 1) & (cust['prices'] <= 2), 'price range'] = '1-2'
cust.loc[(cust['prices'] > 2) & (cust['prices'] <= 3), 'price range'] = '2-3'
cust.loc[(cust['prices'] > 3) & (cust['prices'] <= 4), 'price range'] = '3-4'
cust.loc[(cust['prices'] > 4) & (cust['prices'] <= 5), 'price range'] = '4-5'
cust.loc[(cust['prices'] > 5) & (cust['prices'] <= 6), 'price range'] = '5-6'
cust.loc[(cust['prices'] > 6) & (cust['prices'] <= 7), 'price range'] = '6-7'
cust.loc[(cust['prices'] > 7) & (cust['prices'] <= 8), 'price range'] = '7-8'
cust.loc[(cust['prices'] > 8) & (cust['prices'] <= 9), 'price range'] = '8-9'
cust.loc[(cust['prices'] > 9) & (cust['prices'] <= 10), 'price range'] = '9-10'

In [29]:
cust['price range'].value_counts()

price range
6-7     2881467
1-2     2863551
3-4     2685225
4-5     2503734
8-9     2410617
5-6     2372021
7-8     2234025
2-3     2073811
9-10    1864328
Name: count, dtype: int64

## Data consistency check

In [8]:
# Checking data columns and logic

cust.shape

(206209, 10)

In [9]:
# Renaming STATE and Surnam columns

cust = cust.rename(columns={'STATE': 'State',
                           'Surnam': 'Surname'
                           })

In [10]:
# Checking for missing values

cust.isnull().sum()

user_id             0
First Name      11259
Surname             0
Gender              0
State               0
Age                 0
date_joined         0
n_dependants        0
fam_status          0
income              0
dtype: int64

In [1]:
# Checking for duplicates

cust_dups = cust[cust.duplicated()]

NameError: name 'cust' is not defined

In [12]:
cust_dups

Empty DataFrame
Columns: [user_id, First Name, Surname, Gender, State, Age, date_joined, n_dependants, fam_status, income]
Index: []

#### Observations: 
No duplicates were found.

In [13]:
# Checking for mixed type values

for col in cust.columns.tolist():
  weird = (cust[[col]].map(type) != cust[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (cust[weird]) > 0:
    print (col)

First Name

In [14]:
# Fixing the mixed type values

cust['First Name'] = cust['First Name'].astype('str')

In [15]:
cust.shape

(206209, 10)

In [16]:
# checking column types 

cust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  int64
 1   First Name    206209 non-null  object
 2   Surname       206209 non-null  object
 3   Gender        206209 non-null  object
 4   State         206209 non-null  object
 5   Age           206209 non-null  int64
 6   date_joined   206209 non-null  object
 7   n_dependants  206209 non-null  int64
 8   fam_status    206209 non-null  object
 9   income        206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

## Combining data

In [17]:
# Importing orders and products file

ords_prods_df = pd.read_pickle(r'C:\Users\casbacar\Documents\Study\Data Immersion\Achievement 4\03_2025_Instacart basked analysis\03 Scripts\Prepared data\ 4.8_grouping_data.pkl')

MemoryError:

In [ ]:
ords_prods_df.head()

In [ ]:
# Merging our two datasets

df_cust_prods = cust.merge(ords_prods_df, on = ['user_id'])

In [ ]:
df_cust_prods.info()

In [ ]:
# Export to pickle file

df_cust_prods.to_pickle(r'C:\Users\casbacar\Documents\Study\Data Immersion\Achievement 4\03_2025_Instacart basked analysis\03 Scripts\Prepared data\Customers_prods_final.pkl')

In [5]:
df_cust_prods.shape

NameError: name 'df_cust_prods' is not defined

In [17]:
# Importing customers data file

cust = pd.read_pickle(r'C:\Users\casbacar\Documents\Study\Data Immersion\Achievement 4\03_2025_Instacart basked analysis\03 Scripts\Prepared data\orders_products_combined.pkl')

In [18]:
# Checking for duplicates

cust_dups = cust[cust.duplicated()]

In [19]:
print(cust_dups)

Empty DataFrame
Columns: [order_id, user_id, eval_set, order_number, order_dow, order_hour_of_day, days_since_prior_order, product_id, add_to_cart_order, reordered, _merge]
Index: []

In [20]:
cust.shape

(32434489, 11)